@font-face{
  font-family: Profanations-Regular ;
  src: url('./fonts/Profanations-Regular.otf') format('opentype');
  
  font-family: Techno_Nue-Regular ;
  src: url('./fonts/Techno_Nue-Regular-iF66cd847495173.otf') format('opentype');
  
  font-family: Bionix-demo  ;
  src: url('./fonts/Bionix-demo-BF65ea6d51aedbc.otf') format('opentype');
  
  font-family: Quickdude  ;
  src: url('./fonts/quickdude-9my2l.otf') format('opentype');

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b700fffd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b702ff62;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080808;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 90px;
  color: white;
}

#logo span {
  background-image: linear-gradient(10deg, #333399 29%, #ff00cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background: rgba(49, 49, 49, 0.075);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 0.151);

}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  font-family: 'inter', sans-serif;
  animation: fadeIn 0.5s;
}

#menu a:hover {
  background: rgba(87, 87, 87, 0.979);
  border-radius: 0.5rem;
  transition: 0.3s;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#menu a:hover {

  border-radius: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgba(255, 255, 255, 0.24);
    box-shadow: 0 8px 32px 0 rgba(0, 7, 65, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border: 1px solid rgba(255, 255, 255, 0.151);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: white;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #logo {
    margin-left: 1rem;
  }
}


/* Banner */
.banner {
  background-image: linear-gradient(315deg, #111111 0%, #000000 74%);
  /* Substitua pelo seu URL de imagem */
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.banner-content {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 10em;
  margin-bottom: 10px;
  background-image: linear-gradient(305deg, #333399 29%, #ff00cc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'Quickdude', sans-serif;
}

.banner h4 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: "Exo 2", serif;
  font-weight: 400;
}

.banner p {
  font-size: 1.9em;
  margin-bottom: 30px;
  font-family: "Exo 2", serif;
  font-weight: 400;
}

.banner-btn {
  background-color: #b700fffd;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 15px;
}

.banner-btn:hover {
  background-color: #0084ff;
}

@media screen and (max-width: 768px) {
  .banner h1 {
    font-size: 5em;
  }

  .banner h4 {
    font-size: 1.5em;
  }

  .banner p {
    font-size: 1.2em;
  }

  .banner-btn {
    font-size: 1em;
  }

  .banner{
    height: 90vh;
  }
  
}

/* Sobre */

#Sobre {
  background-color: #242424;
  padding: 100px 0;
}

#Sobre h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

#Sobre p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: 'Techno_Nue-Regular', sans-serif;
  color: #fff;
}

#Sobre img {
  border-radius: 50px;
}


@media screen and (max-width: 768px) {
  #Sobre img {
    width: 100%;
    border-radius: 50px;
  }
  
}




footer {
  background: #7979791f;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer a {
  color: #fff;
}

footer h4 {
  margin-bottom: 10px;
  font-size: 30px;
}

footer h4 span {
  background-image: linear-gradient(10deg, #333399 29%, #ff00cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer .version {
  font-size: 0.8rem;
  color: #ffffff83;
}

@media (max-width: 768px) {
  footer img {
    width: 50px;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer a {
    font-size: 0.8rem;
  }

  footer {
    padding: 10px;
  }

}


/* Cards */

.projeto, .conhecimentos h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: 'Popins', sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;

}



.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5rem;
  font-family: 'Archivo', sans-serif;
}

.card1{
  border: 2px solid;
  border-color: #22b8cf ;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  height: 300px;
  max-width: 400px;
  transition: transform 0.2s;
  background: none;
}
.card2{
  border: 2px solid;
  border-color: #ff00bf;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  height: 300px;
  max-width: 400px;
  transition: transform 0.2s;
  background: none;
}
.card3{
  border: 2px solid;
  border-color: #ffae00;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  height: 300px;
  max-width: 400px;
  transition: transform 0.2s;
  background: none;
}

.card:hover {
  transform: scale(1.02);
}

.card-content1, .card-content2, .card-content3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content1 h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #22b8cf ;
  font-weight: 600;
}
.card-content2 h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #ff00bf ;
  font-weight: 600;
}
.card-content3 h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #ffae00 ;
  font-weight: 600;
}

.card-content1, .card-content2, .card-content3  p {
  margin-bottom: 0.5rem;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 20px;
}

.card-content1 a {
  display: inline-block;
  padding: 0.4rem ;
  color: #22b8cf;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
}
.card-content2 a {
  display: inline-block;
  padding: 0.4rem ;
  color: #ff00bf;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
}
.card-content3 a {
  display: inline-block;
  padding: 0.5rem;
  color: #ffae00;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 20px;
}


@media (max-width: 768px) {
  .container-cards {
    flex-direction: column;
  }

  .card1, .card2, .card3 {
    margin-bottom: 2rem;
  }

  .card1, .card2, .card3 {
    width: 100%;
  }

  .card-content1, .card-content2, .card-content3 {
    text-align: center;
  }

  .card-content1 h2, .card-content2 h2, .card-content3 h2 {
    font-size: 1.2rem;
  }

  .card-content1 p, .card-content2 p, .card-content3 p {
    font-size: 0.9rem;
  }

}

@media (max-width: 480px) {
  .card1, .card2, .card3 {
    padding: 0.5rem;
  }

  .card-content1, .card-content2, .card-content3 {
    font-size: 0.8rem;
  }

  .card-content1 h2, .card-content2 h2, .card-content3 h2 {
    font-size: 1rem;
  }

  .card-content1 p, .card-content2 p, .card-content3 p {
    font-size: 0.8rem;
  }
  
}

/* Conhecimentos */

.conhecimentos {
  background-color: #111111;
  padding: 100px 0;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.cards {
  border: 1px solid #FC490B;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}

#card01{
  border: 1px solid #1F00FF;
}

#card02{
  border: 1px solid #FFEB00;
}

#card03{
  border: 1px solid #FFC916;
}

#card04{
  border: 1px solid #ae01ff;
}

#card05{
  border: 1px solid #303030;
}


.cards img {
  border-radius: 8px;
}

.cards:hover {
  transform: translateY(-10px);
}

.info-box {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  display: none;
}

@media (max-width: 768px) {
  .cards {
      flex: 1 1 calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .cards {
      flex: 1 1 100%;
  }
}

/* Contato */

.social-media {
  background-color: #242424;
  padding: 100px 0;
}

.social-media h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: 'Popins', sans-serif;
  font-weight: 600;
  text-align: center;
}

.social-media-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}

.social-media-content img {
  width: 50px;
  cursor: pointer;
  animation: identifier 1s infinite;
}

@keyframes identifier {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
  
}

.ponto{
  color: #b700fffd;
  font-size: 5rem;
}




